* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: white; */
  /* background-image: url("/assets/img/bg.jpg"); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  color: black;
}

.logo {
  width: 5%;
}
